<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    <head>
        <title>Book Exchange Please</title>

        <!-- Styles- Vendor - start -->
        <div th:replace="~{_components/styles/vendor :: vendor_styles}"></div>
        <!-- Styles - Vendor - end   -->

        <!-- Styls - Application - start -->
        <div th:replace="~{_components/styles/app :: application_styles}"></div>
        <!-- Styles - Application - end   -->
    </head>
    <body>
        <div>
            <!-- Navigation Bar - start -->
            <div th:replace="~{_components/navbars/master-navbar :: master-navbar}"></div>
            <!-- Navigation Bar - end   -->

            <!-- Main app body - start -->
            <main class="container">
                <div layout:fragment="content">Some content</div>
            </main>
            <!-- Main app body - end    -->

            <!-- Footer - start -->
            <div th:replace="~{_components/footers/master-footer :: master-footer}"></div>
            <!-- Footer - end   -->

            <!-- Scripts - Vendor - start -->
            <div th:replace="~{_components/scripts/vendor :: vendor_scripts}"></div>
            <!-- Scripts - Vendor - end   -->

            <!-- Scripts - Application - start -->
            <div th:replace="~{_components/scripts/app :: application_scripts}"></div>
            <!-- Scripts - Application - end   -->
        </div>
    </body>
</html>
