$main_color: #109383;

#auth-page {
  padding: 2rem 4rem;

  //height: 90vh;

  h1 {
    margin: 0rem 0rem 2rem 0rem;
    font-weight: bold;
  }

  h1, a {
    color: #109383;
  }

  #auth-header {

  }

  #auth-interactable {
    display: flex;

    #auth-form {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding-right: 2rem;
      border-right: 1px solid #C4C4C4;

      input {
        border: 1px solid #C4C4C4;
        border-radius: 5px;
        margin: 0.5rem 0rem;
        padding: 0.8rem 1.5rem;
      }

      .auth-tc {
        margin: 3rem 0rem 0rem 0rem;
      }

    }

    #auth-other {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding-left: 2rem;

      .auth-other {
        margin: 0.5rem 0rem;
        border-radius: 5px;
        padding: 10px;
        color: white;

        &.facebook {
          background-color: #3C5A99;
        }

        &.google {
          background-color: #DB4437;
        }

        &.twitter {
          background-color: #1DA1F2;
        }

        &.linkedin {
          background-color: #000000
        }
      }
    }
  }

  .auth-options {
    margin-top: 4rem;
  }

  .auth-submit {
    background: $main_color;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
  }

}

// Mobile
@media (max-width: 768px) {
  #auth-page {
    #auth-interactable {
      flex-direction: column;

      #auth-form {
        padding-right: 0;
        border-right: none;
      }

      #auth-other {
        padding-left: 0;
      }
    }
  }
}