.App {
    text-align: center;
}

* {
    box-sizing: border-box;
    margin: 0;
}

/*Home Page background image*/
.view.landing-page {
    background-image: url('https://mdbootstrap.com/img/Photos/Others/images/93.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 70px);
}

.single-book-image-size {
    height: 150px;
    width: 100px;
}