:root {
  // --primary-color: #109383; // old from figma - cedric
  --primary-color: #2bbbad; // new from yichen
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #E5E5E5;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

h1, .h2 {
  color: var(--primary-color);
}