* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #e5e5e5;
    isolation: isolate;
}

h1 {
    margin: 0rem 0rem 2rem 0rem;
    font-weight: bold;
}

h1, a {
    color: #109383;
}

input, textarea {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 3px;
    /* These were affecting ALL search bars across the site, 
    so I've disabled them for now since it made them really ugly looking
    
    The "PostBook" pages made use of this though, so they look bad WITHOUT them
    Should commit to either enforcing this across the site, or isolating it

    margin: 0.5rem 0rem;
    padding: 0.8rem 1.5rem; 
    */
}

label {
    color: black;
    margin: 1rem;
}

p {
    color: black;
}

button {
    background-color: white;
    color: black;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}
button:hover {
    background-color: #109383;
    color: white;
}