@import url('https://fonts.googleapis.com/css?family=Open+Sans');

jumbtron{
    background: rgba(196, 196, 196, 0.24);
}

@media screen and (max-width: 600px) {
    .main-text{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 1.5rem;
        text-align: center;
        color: #109383;
    }
    
}
@media screen and (min-width: 600px) {
    .main-text{
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 2.25rem;
        text-align: center; 
        color: #109383;
    }
    
}

.main-content{
    padding-left:6%;
    padding-right: 6%;
    font-size:1rem;
}

.caption{
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    padding-left: 20%;
    padding-right: 20%;
    font-size: 1.5rem;
    text-align: center;
}

.sortLabels{
    padding-top:1%;
}


.header-menu a{
    color:black
}
.header-menu a:hover{
    color:#109383;
    text-decoration:  none;

}

.numResults{
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #898989;
}
.contentRow{
    margin-top:2%;
}