@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.secondary-search .input-group-text{
    border-top:none;
    border-right:none;
    border-left:none;
    text-align: right;
    background-color:white;
    border-radius: 0;

}

.secondary-search .form-control{
    border-top:none;
    border-left:none;
    padding-left:0;
    border-radius:0;
    border-right:none;

}


.material-icons{
    font-size:1rem;
}
