.card-container{
    font-family: Open Sans;
    font-style: normal;
    width:100%; 
    
}

.card-image{
    border: 1px solid #C4C4C4;
    padding:2%;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.card{
    padding:1%;
    padding-top:0.5%;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}


.text{
    padding-left:2%;

}
.text-meta span{
    margin-right:3%;
    color: #109383;
    fonts-size:1rem;
}

.author-by{
    color: #898989;
    font-size: 1rem;
    margin-right:1%;
}

.mail-icon{
    text-align:right;
}

.bill-image{
    padding-top:3%;
    text-align:right
}

