#bookstore-int {
    background-color: #E5E5E5;
    position: absolute;
    min-height: 100%;
    left: 0;
    right: 0;
    font-size: 16px;
    color: #898989;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: -1;
}

#main-bookstore {
    padding: 0% 5% 7%;
}

.secondary-search {
    margin: 10% 0% 3% 0%;
}

#owner-labels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 7%;
    color: #109383;
    font-size: 40px;
}

#locations-bar {
    display: flex;
    flex-direction: row;
    padding-top: 5%;
}

.place-labels {
    display: flex;
    flex-direction: column;
    margin-right: 7%;
    font-weight: 300;
}

.dec-icon {
    margin-right: 20px;
}

.major-label {
    font-size: 2rem;
    font-weight: normal;
}

#search-options-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sortLabels {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
}

.sortLabel-ind {
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
}

#course-code-search {
    margin-right: 3rem;
}

span[class^="filter-"] {
    margin-right: 2.5rem;
    cursor: pointer;
    text-align: center;
}

#filterLabels {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.filter-not:hover {
    font-style: italic;
    color: #3a5746;
}

.filter-cur {
    color: #109383;
}