.single-card-container {

    &__image-section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin: 10% 0;
        min-height: 200px;
        background-color: rgba(33, 33, 33, .3);
    }

    &--card-image {

        width: 100%;

    }
}