<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="_layouts/master_layout">
<head>
    <title>About Us</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Book Stores Index - All my books</h1>
    <table><!--
        <tr th:each="bookStore: ${bookStores}">
            <td th:text="${bookStore.getName()}"></td>
            <td th:text="${bookStore.getDescription()}"></td>
        </tr>-->
        <tr th:each="book: ${books}">
            <td th:text="${book.getTitle()}"></td>
        </tr>
    </table>
</div>
</body>
</html>
