#settings-page {
    background-color: #E5E5E5;
    position: absolute;
    min-height: 100%;
    left: 0;
    right: 0;
    font-size: 16px;
    color: #898989;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: -1;
}

#settings-form {
    display: flex;
    align-content: center;
    flex-direction: column;
}

#settings-form-wrap {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
    padding: 5%;
}

input {
    width: 100%;
    border: 1px solid #c4c4c4;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 10px 20px;
}

.tcol {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}

.btn {
    margin: 5% 30%;
    color: white;
    background-color: #109383;
    font-size: 18px;
    font-weight: 800;
}

.section-text {
    color: #109383;
    font-weight: bold;
    margin-top: 1rem;
}