.home-page-top-section {
    text-align: center;
    margin: 30px 0 0 0;

    &__main-text {
        font-size: 2rem;
        color: #109383;
    }

    &__small-caption {
        margin: 0 10px 0 10px;
    }
}

.home-page-main-section {
    background: white;

    &__container {
        width: 80%;
        margin: 0 auto;
    }

    .date-sort {
        cursor: pointer;
    }

    .price-sort {
        cursor: pointer
    }
}

.number-of-results {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #898989;
}

.home-search-box {
    padding: 25px 0 10px 0;

    input {
        width: 75%;
        margin: 0 auto;
    }
}