<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="_layouts/master_layout">
<head>
    <title>About Us</title>
</head>
<body>
<div layout:fragment="content">

    <div class="row">
        <div class="col-sm-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top"
                     src="http://static.springfree.com/sites/springfreetrampoline.com/files/images/headers/books-1.jpeg"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Buy Books</h5>
                    <p class="card-text">Goes to the search books section.</p>
                    <a href="#" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top"
                     src="http://static.springfree.com/sites/springfreetrampoline.com/files/images/headers/money.png"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Sell Books (Create Book List)</h5>
                    <p class="card-text">Goes to the user's "My Book Store" section.</p>
                    <a href="/books/create" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top"
                     src="http://static.springfree.com/sites/springfreetrampoline.com/files/images/headers/download.jpg"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Profile</h5>
                    <p class="card-text">Edit the user's profile</p>
                    <a href="#" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top"
                     src="http://static.springfree.com/sites/springfreetrampoline.com/files/images/headers/rsz_settings.png"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Account Settings</h5>
                    <p class="card-text">Edit the user's account settings</p>
                    <a href="#" class="btn btn-primary">Go</a>
                </div>
            </div>
        </div>

    </div>

</div>
</body>
</html>
