.MuiAppBar-colorPrimary-66 {
    color: #fff;
    background-color: #3f51b5;
    padding: 6px;
}

.MuiAppBar-root-60 {
    width: 1165px !important;
    display: flex;
    z-index: 1100;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: column;
}

.MuiTypography-colorInherit-128 {
    color: inherit;
    margin-left: 195px !important;
}

/* ------------------------------ */

header {
    height: 75px;
    padding: 30px 20px 30px 315px;
    background: #33E1AC;
    width: 1164px;
}